@import "../../../node_modules/taro-ui/dist/style/variables/default";
.person-main {
  height: 520PX;
  width: 100%;
  background-color: $color-grey-5;
  .person-banner {
    height: 160PX;
    background-image: linear-gradient(to right, #E0C8F8 , $color-brand);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .person-banner-button {
    background-color: white;
    width: 40%;
    height: 32PX;
    border-radius: 16PX;
    font-size: 16PX;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .person-button {
    width: 90%;
    height: 48PX;
    border-radius: 12PX;
    margin: 8PX auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    .person-button-left {
      margin: auto 16PX;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .person-button-left-img {
        width: 24PX;
        height: 24PX;
      }
      .person-button-left-text {
        margin-left: 16PX;
        font-size: 18PX;
      }
    }
    .person-button-right {
      font-size: 24PX;
      margin: auto 16PX;
    }
  }
}
