@import "../../../node_modules/taro-ui/dist/style/variables/default";
.question-items {
  margin: 8PX auto 0;
  width: 90%;
  height: 64PX;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1PX solid $color-grey-2;
  .question-items-introduce {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .question-items-title {
      font-size: 16PX;
      font-weight: bold;
    }
    .question-items-introduce-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 10PX;
      color: $color-grey-2;
      margin-top: 8PX;
    }
    .question-items-introduce-item {
      margin-right: 8PX;
    }
    .question-items-introduce-tag {
      margin-right: 8PX;
      font-size: 10PX;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 4PX;
    }
    .question-tag-vip {
      border: 1PX solid $color-warning;
      color: $color-warning;
    }
    .question-tag {
      border: 1PX solid $color-info;
      color: $color-info;
    }
  }
}
.question-hr {
  margin-bottom: 48PX;
  height: 1PX;
  width: 100%;
}
