@import "../../../node_modules/taro-ui/dist/style/variables/default";
.register-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24PX;
  font-weight: bold;
  margin: 40PX auto;
}
.register-button {
  margin: 8PX;
}
